@import './media-query-mixins';
@import './dimentions';
@import './colors';

$artWidthPortrait: 100vw;
$artWidthTablet: 43vw;
$artWidthDesktop: 40vw;
$artWidthWideScreen: 35vw;

$contentWidthPortrait: 100vw;
$contentWidthTablet: 43vw;
$contentWidthDesktop: 40vw;
$contentWidthWideScreen: 35vw;

%page {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
  background: radial-gradient(#305670, #010609);
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include orientation('landscape') {
    @include media('>phone') {

      @include media('>desktop') {
      }
    }
  }
}
