@font-face {
  font-family: 'simple-pro';
  src: url('/fonts/simpler-pro/SIMPLERPRO_V3-BLACK.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'simple-pro';
  src: url('/fonts/simpler-pro/SIMPLERPRO_V3-BLACKITALIC.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'simple-pro';
  src: url('/fonts/simpler-pro/SIMPLERPRO_V3-BOLD.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'simple-pro';
  src: url('/fonts/simpler-pro/SIMPLERPRO_V3-BOLDITALIC.ttf') format('truetype');
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: 'simple-pro';
  src: url('/fonts/simpler-pro/SIMPLERPRO_V3-LIGHT.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'simple-pro';
  src: url('/fonts/simpler-pro/SIMPLERPRO_V3-LIGHTITALIC.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'simple-pro';
  src: url('/fonts/simpler-pro/SIMPLERPRO_V3-REGULAR.ttf') format('truetype');
}

/* Walsheim font */

@font-face {
  font-family: 'simple-pro';
  src: url('/fonts/simpler-pro/SIMPLERPRO_V3-REGULARITALIC.ttf') format('truetype');
  font-style: italic;
}
